@{
    ViewData["Title"] = "Cinema Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to the Cimena's webpage: <a asp-action="Details" asp-controller="Lists" asp-route-id="1">Lists the movies</a></p>
</div>
