@model Cinema.Web.Models.Movie

@{
    ViewData["Title"] = "Edit Movie";
}

<h2>Edit</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Szinopszis" class="control-label"></label>
                <input asp-for="Szinopszis" class="form-control" />
                <span asp-validation-for="Szinopszis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListId" class="control-label"></label>
                <select asp-for="ListId" class="form-control" asp-items="ViewBag.Lists"></select>
                <span asp-validation-for="ListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreeningTimes" class="control-label"></label>
                <input asp-for="ScreeningTimes" class="form-control" />
                <span asp-validation-for="ScreeningTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label><br />
                @if(Model?.Image != null)
                {
                        <img src="@Url.Action("DisplayImage","Movies", new { id = Model.Id })" class="movie" />
                }
                <input asp-for="Image" type="file" accept="image/png" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
